*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body, 
.App, 
#root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  background-color: rgb(241, 244, 249);
}

.appwrapper {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 10rem;
  min-height: calc(100vh - 47rem);
}